
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Dr. <%= doctor.name %></title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="https://res.cloudinary.com/dyuddvjlv/image/upload/v1717058679/ys7jivuaqyb0yzncfvef.png">
    

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:wght@500;700;900&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/style.css" rel="stylesheet">
</head>

<body>


    <!-- Topbar Start -->
    <div class="container-fluid bg-light p-0 wow fadeIn" data-wow-delay="0.1s">
        <div class="row gx-0 d-none d-lg-flex">
            <div class="col-lg-7 px-5 text-start">
                <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                    <small class="fa fa-map-marker-alt text-primary me-2"></small>
                    <small>New York</small>
                </div>
                <div class="h-100 d-inline-flex align-items-center py-3">
                    <small class="far fa-clock text-primary me-2"></small>
                    <small>Mon - Fri : 09.00 AM - 09.00 PM</small>
                </div>
            </div>
            <div class="col-lg-5 px-5 text-end">
                <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                    <small class="fa fa-phone-alt text-primary me-2"></small>
                    <small>+92 345 6789</small>
                </div>
                <div class="h-100 d-inline-flex align-items-center">
                    <a class="btn btn-sm-square rounded-circle bg-white text-primary me-1" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-sm-square rounded-circle bg-white text-primary me-1" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-sm-square rounded-circle bg-white text-primary me-1" href=""><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-sm-square rounded-circle bg-white text-primary me-0" href=""><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <nav style="height:98px"  class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0 wow fadeIn" data-wow-delay="0.1s">
        <a href="/" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
           <div class="centerrr">
            <img src="https://res.cloudinary.com/dyuddvjlv/image/upload/v1717312806/q43cr9bsoapvgdqgr4li.png" style="    width: 130px;
            margin-top: 12px;" alt="">
           </div>
        </a>
        <!-- <img src="../img/logo.png" alt=""> -->
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav m-auto p-4 p-lg-0" style="background-color: white;">
                <a href="/" class="nav-item nav-link active">Home</a>
                
                <% if (!user || user.role === 'user') { %> <!-- Check if user is not authenticated or role is user -->
                    <a href="/about" class="nav-item nav-link">About</a>
                <% } %>
                <% if (user) { %> <!-- Start of dynamic navigation -->
                    <a class="nav-link" href="/profile">Profile</a>
                    <a class="nav-link" href="/doctors-data">All Doctors</a>
                  
                    <% if (user.role !== 'admin') { %>
                        <a href="/gethospital" class="nav-item nav-link">Hospitals</a>
                        <a href="/labs" class="nav-item nav-link">Labs</a>
                      <% } %>
                  <% if (user.role === 'admin') { %>
      
                      <a class="nav-link" href="/users">Manage Users</a>
                      <a class="nav-link" href="/contact-messages">Messages</a>
                      <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Add</a>
                        <div class="dropdown-menu rounded-0 rounded-bottom m-0">
                            <a href="/add-lab" class="dropdown-item">Labs</a>
                            <a href="/hospitals" class="dropdown-item">Hospitals</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">See</a>
                        <div class="dropdown-menu rounded-0 rounded-bottom m-0">
                            <a href="/labs" class="dropdown-item">Labs</a>
                            <a href="/gethospital" class="dropdown-item">Hospitals</a>
                        </div>
                    </div>
                  <% }  %>
                  <% if (user.role === 'doctor') { %>
                      <a class="nav-link" href="/appointments"> Appointments</a>
                      <a class="nav-link" href="/doctor/data-input">Update data</a>
                  <% } %>
                <% } %> <!-- End of dynamic navigation -->
                
                
                <% if (!user || user.role === 'user') { %> <!-- Check if user is not authenticated or role is user -->
                    <a href="/contact" class="nav-item nav-link">Contact</a>
                <% } %>
            </div>
            <% if (user) { %> 
            <a href="/logout" class="btn btn-primary rounded-0 py-4 px-lg-5 d-none d-lg-block">logout<i class="fa fa-arrow-right ms-3"></i></a>
              
            <% } else { %>
              
                <!-- <a href="/register" class="btn btn-primary rounded-0 py-4 px-lg-5 d-none d-lg-block">Register<i class="fa fa-arrow-right ms-3"></i></a> -->
                <a href="/login" class="btn btn-primary rounded-0 py-4 px-lg-5 d-none d-lg-block">Login<i class="fa fa-arrow-right ms-3"></i></a>
                     
            <% } %>
          </div>
      </nav>
      
    <!-- Navbar End -->


<!-- For demo purpose -->
<div class="row">
    <div class="col-lg-7 mx-auto text-white text-center pt-5">
        <h1 class="display-4">DR.<%= doctor.name %> </h1>
        
    </div>
</div><!-- End -->


<div class="row py-5 px-4">
    <div class="col-xl-4 col-md-6 poora col-sm-10 mx-auto">

        <!-- Profile widget -->
        <div class="bg-white shadow rounded overflow-hidden" style="background-color: #1B2C51 !important;">
            <div class="px-4 pt-0 pb-4 bg-dark">
                <div class="media align-items-end profile-header">
                    
                    <div class="profile2 mr-3">
                        <div class="picc">
                            <img src="<%= doctor.photoUrl %>" alt="..." width="130" class="rounded mb-2 img-thumbnail">
                        </div>
                        <div class="dtaa">
                            <h4 style="color: white;"> Name : <%= doctor.name %></h4>
                            <h4 style="color: white;"> Qualification : <%= doctor.qualification %></h4>
                            <h4 style="color: white;"> Pnmdc number : <%= doctor.pmdc %></h4>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div><!-- End profile widget -->

    </div>
</div>



    <!-- <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Contact Us</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb text-uppercase mb-0">
                    <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                    <li class="breadcrumb-item text-primary active" aria-current="page">Contact</li>
                </ol>
            </nav>
        </div>
    </div> -->





    <!-- Appointment Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="margin: 0 auto; width:70%">
                    <h1 class="mb-4">Make An Appointment To Visit Our Doctor</h1>
                    <p class="mb-4">
                    Book Your Appointment today </p>

                    <button class="d-inline-block border py-1 px-4 appointment-btn" onclick="window.location.href='/book-appointment'">Appointment</button>

                </div>
                <!-- <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="bg-light rounded h-100 d-flex align-items-center p-5">
                        <form>
                            <div class="row g-3">
                                <div class="col-12 col-sm-6">
                                    <input type="text" class="form-control border-0" placeholder="Your Name" style="height: 55px;">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input type="email" class="form-control border-0" placeholder="Your Email" style="height: 55px;">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input type="text" class="form-control border-0" placeholder="Your Mobile" style="height: 55px;">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <select class="form-select border-0" style="height: 55px;">
                                        <option selected>Choose Doctor</option>
                                        <option value="1">Doctor 1</option>
                                        <option value="2">Doctor 2</option>
                                        <option value="3">Doctor 3</option>
                                    </select>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="date" id="date" data-target-input="nearest">
                                        <input type="text"
                                            class="form-control border-0 datetimepicker-input"
                                            placeholder="Choose Date" data-target="#date" data-toggle="datetimepicker" style="height: 55px;">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="time" id="time" data-target-input="nearest">
                                        <input type="text"
                                            class="form-control border-0 datetimepicker-input"
                                            placeholder="Choose Date" data-target="#time" data-toggle="datetimepicker" style="height: 55px;">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <textarea class="form-control border-0" rows="5" placeholder="Describe your problem"></textarea>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Book Appointment</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <!-- Appointment End -->


    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-light mb-4">Address</h5>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i> New York</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+92 345 67890</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@example.com</p>
                    <div class="d-flex pt-2 icon">
                        <a class="btn btn-outline-light btn-social rounded-circle" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social rounded-circle" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social rounded-circle" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-light btn-social rounded-circle" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-light mb-4">Services</h5>
                    <a class="btn btn-link" href="/cardiology">Cardiology</a>
                    <a class="btn btn-link" href="/pulmonary">Pulmonary</a>
                    <a class="btn btn-link" href="/neurology">Neurology</a>
                    <a class="btn btn-link" href="/orthopedics">Orthopedics</a>
                    <a class="btn btn-link" href="/Laboratory">Laboratory</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-light mb-4">Quick Links</h5>
                    <a class="btn btn-link" href="/about">About Us</a>
                    <a class="btn btn-link" href="/contact">Contact Us</a>
                    <a class="btn btn-link" href="/doctors-data">All Doctors</a>
                    <a class="btn btn-link" href="/gethospital">All Hospitals</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <img style="width: 200px;" src="https://res.cloudinary.com/dyuddvjlv/image/upload/v1717313547/frwft6lun7wpgsfncfkh.png" alt="">
                </div>
    
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="#">Multi Virtue</a>, All Right Reserved.
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="javascript/main.js"></script>
</body>

</html>
<!-- <%- include('./layouts/footer') %> -->
